.delete-button{
    border-radius: 12;
    color: 'red';
    align-items: center;
    padding: 8;
  }

  .edit-button{
    border-radius: 12;
    color: 'blue';
    align-items: center;
    padding: 8;
  }

  .create-button{
    border-radius: 12;
    color: 'green';
    align-items: center;
    padding: 8;
  }

  .view-properties-button{
    border-radius: 12;
    color: 'grey';
    align-items: center;
    padding: 8;
  }